In [1]:
#import libraries

import pandas as pd
import numpy as np
import json

In [2]:
# loading the json file

df = pd.read_json('2024Populations_Final.json')

In [3]:
#shaping the dataframe (changing population colums to rows)

df1= df.melt(id_vars=['continent'], value_vars=[col for col in df.columns if col.startswith('pop')],
                    var_name='year', value_name='population')

In [4]:
df1

     continent      year  population
0         Asia  pop 1970    10752971
1       Europe  pop 1970     2324731
2       Africa  pop 1970    13795915
3      Oceania  pop 1970       27075
4       Europe  pop 1970       19860
...        ...       ...         ...
2101   Oceania   pop2050       11349
2102    Africa   pop2050      851067
2103      Asia   pop2050    55296331
2104    Africa   pop2050    37460435
2105    Africa   pop2050    26438589

[2106 rows x 3 columns]

In [5]:
#removing string from values in year column

df1['year'] = df1['year'].str.extract('(\d+)', expand=False)

In [6]:
df1

     continent  year  population
0         Asia  1970    10752971
1       Europe  1970     2324731
2       Africa  1970    13795915
3      Oceania  1970       27075
4       Europe  1970       19860
...        ...   ...         ...
2101   Oceania  2050       11349
2102    Africa  2050      851067
2103      Asia  2050    55296331
2104    Africa  2050    37460435
2105    Africa  2050    26438589

[2106 rows x 3 columns]

In [7]:
#checking population column type

print(df1['population'].dtype)

int64

In [9]:
#checking if the population column has any missing value

df1[df1['population'] == ''].index

Index([], dtype='int64')